body {
    background:#efefef;
}

.main {
    max-width: 72em;
    margin: 0 auto
}


sportlink-team {
    --sportlink-team-font-family: Arial;
    --sportlink-team-font-family-header: Courier;
    --sportlink-team-text-align: center;
}